*{
    margin:0px;
    padding:0px;
}
.headerr{
    display: flex;
    /* background-origin: padding-box; */
    border-bottom: 5px black;
    margin-bottom:10px;
    
}
header {
    border-bottom: 1px solid rgb(89, 82, 82);
    
  }
  
.img1{
    margin-left:60px;
    margin-top:20px;
}
.Img2{
    margin-left:70rem;
    margin-top:20px;
}
.main-content{
    background-color:#EEF5FF;
    height:100vh;
    width:100vw;
}
.main-content>p{
    margin-bottom:10rem;
}
.post-box {
    width: 500px;
    padding: 20px;
    /* border: 1px solid #756b6b; */
    border-radius: 10px;
    margin: auto; 
    display:block; 
    /* background-color:white; */
    /* margin-top:10rem; */
    margin-left:5rem;
}
.post-box h3 {
    font-size: 25px;
    margin-bottom:20px;
}
.post-box textarea {
    width: calc(100% - 40px);
    height: 100px;
}
.post-box button {
    background-color:blue; 
    font-size:1rem;
    color:white; 
    padding-top:10px;
    padding-bottom:10px;
    padding-left:25px;
    padding-right:25px;
    border:none; 
    border-radius:15px; 
 }
.counter {
   float:right; 
   margin-top:10px; 
}
.feed-column {
    margin-top:-51.5rem;
    float: right;
    width: 40%;
    padding: 20px;
    width:50%;
    background-color: white;
    height:100vh;
  }
  
  .feed-post {
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
.editt{
    margin-top:2rem;
    padding:20rem;
}
.feed-post button {
    margin-left:1rem;
}




